
{% extends "user_base.html" %} {% block body %}{% load static %}
<script type="text/javascript" src="{% static 'js/custom_table.js' %}"></script>
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
  }

    .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }

  .product {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }

  .product img {
    width: auto;
    height: 250px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px) {
    .product {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
  }
</style>
<div class="products">
  {% for product in list %}
  <div class="product">
    <img src="{{ product.product.image.url }}" alt="{{ product.product.name }}" />
    <h2>{{ product.product.name }}</h2>
    <p>Price: {{ product.product.amount }}</p>
    <p>{{ product.product.description|safe|truncatechars:50 }}..<a class="link">see more</a></p>
    <hr>
    <p class="text-warning"><b>Order Status : {{ product.status }}</b></p>
  </div>
  {% endfor %}
</div>
{%endblock body %}
