{% extends "web_adminbase.html" %} {% block body %}{% load static %}
<script type="text/javascript" src="{% static 'js/custom_table.js' %}"></script>
<style
  rel="stylesheet"
  type="text/css"
  src="{% static 'cs/table.css' %}"
></style>
<div class="m-4">
  <div class="card me-6 p-2" style="width: auto">
    <h4 class="m-0 p-0">
      Add Diet-Plan
      <hr class="hr p-0 mt-1 me-1" />
    </h4>
    <form
      action="/web_admin/add-diet-plan"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="form-group row mt-2">
        <label for="" class="col-sm-2 form-control-label">Plan Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            name="name"
            id="alias-textbox"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="form-group row mt-3">
        <label for="" class="col-sm-2 form-control-label">Diet Description</label>
        <div class="col-sm-10">
          <input
            type="text"
            name="description"
            id="alias-textbox"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="form-group row mt-3">
        <label for="" class="col-sm-2 form-control-label">Diet Category</label>
        <div class="col-sm-10">
          <select  name="category"
          id="alias-textbox"
          class="form-control"
          required>
          <option  value="" disabled selected hidden>---Select Category---</option>
          {% for obj in category_list %}
          <option value={{obj.id}} class="form-select">{{obj.name}}</option>
          {% endfor %}
        </select>
        </div>
      </div>
      <div class="form-group row mt-3">
        <div class="form-group row mt-3 col-sm-6">
          <label for="" class="col-sm-4 form-control-label">Max health %</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="max"
              min="0"
              max="100"
              id="alias-textbox"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group row mt-3 col-sm-6">
          <label for="" class="col-sm-4 form-control-label">Min health %</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="min"
              min="0"
              max="100"
              id="alias-textbox"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="form-group row mt-3 col-sm-6">
        <label for="" class="col-sm-4 form-control-label">Diet Pdf</label>
        <div class="col-sm-8">
            <input name="diet_doc" 
            type="file"
            id="alias-textbox"
            accept="application/pdf" 
            class="form-control"
          />
        </div>
      </div>
    </div>
      <div class="d-flex justify-content-center mt-2">
        <button type="submit" class="btn btn-primary pe-4 ps-4 m-2">
          Add Diet-Plan
        </button>
      </div>
    </form>
    <h4 class="mt-4 p-0">
      All Diet-Plan List
      <hr class="hr p-0 mt-1 me-1" />
    </h4>
    <table
      id="example"
      class="table table-bordered text-center"
      style="width: 100%"
    >
      <thead class="table-dark text-center">
        <tr class="pt-7 pb-7"></tr>
        <tr class="p-3 text-center">
          <th>S.No.</th>
          <th>Plan Name</th>
          <th>Diet Description</th>
          <th>Min</th>
          <th>Max</th>
          <th>Diet Doc.</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in list %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{obj.name}}</td>
          <td>{{obj.description}}</td>
          <td>{{obj.min}}</td>
          <td>{{obj.max}}</td>
          <td>
            <a class="btn btn-warning text-white" href="{{obj.diet_doc.url}}"
              >View</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
